certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
idna==2.9
oauthlib==3.1.0
requests==2.23.0
requests-oauthlib==1.3.0
selenium==3.141.0
threader==0.1.1
tqdm==4.43.0
TwitterAPI==2.5.10
urllib3==1.25.8
webdriver-manager==2.3.0
